# SAND External Muon ID (EMI) Syestem  (Ecal like design)
[SANDEMI]
class                       = duneggd.SubDetector.SandEmi.SandEmiBuilder
subbuilders                 = ['SANDEMIBARRELMOD']
emiThickness                = 2 * Q('2 cm') + (2-1) *  Q('15 cm')   # nSlabs * ActiveSlabThickness + (nSlabs-1) * PasSlabThickness
#emiThickness                = Q('60 cm')  # WHY ONLY 60 WORKS?
BuildEmiBarrelMod         = True 

[SANDEMIBARRELMOD]
class                       = duneggd.SubDetector.SandEmiBarrelMod.SandEmiBarrelModBuilder
trapezoidDim                = [Q('43.19cm'), Q('51.05cm'), Q('215cm'), Q('30cm')] #b/2, B/2, L/2, D/2 [at a radius of 330 cm, we need a base of 2 * 43.19 cm, and at a radius of 330 + 2*30 cm, we need a base of 2 * 51.05 cm in order to fill the whole 360 with 24 bars]
#trapezoidDim                = [Q('43.445324cm'), Q('45.946722cm'), Q('215cm'), Q('19.16395cm')] # new experimental values on 31 Jan
ScintMat                    = 'Scintillator'
PasMat                      = 'Iron'
ActiveSlabThickness         = Q('2 cm')         # for 2-active + 1-passive config 
PasSlabThickness            = Q('15 cm')        # for 2-active + 1-passive config
nSlabs                      = 2                 # for 6-active + 5-passive config




# some geometry details: consider I need a EMI of thickness t = (2*ta + tp), where ta = active thickness and tp is passive
# if b is the lower base and B is the upper base and s is the side length, then
# ba_0 = R * tan theta/2, theta = 2Pi/N, N = number of modules, 24 in our case
# Ba_0 = (R + ta) * tan theta/2
# sa = ta / cos theta/2                 (side length of an active layer)
#
# bp_0 = Ba_0
# Bp_0 = (R+ta+tp) * tan theta/2
# ba_1 = Bp_0
# Ba_1 = (R+ta+tp+ta) * tan theta/2
# sp = tp / cos theta/2                 (side length of a passive layer)
#
# We will need to create a cylinder with,
# r1 = R = 330 cm
# and 
# r2 = (R+t) / cos theta/2

#trapezoidDim                = [Q('43.445324cm'), Q('45.946722cm'), Q('215cm'), Q('19.16395cm')] # new experimental values on 31 Jan
